# Directorio instalación módulos
node_modules

# Directorio con los resultados de los test de cobertura
coverage

# Directorio de librerías instaladas
public/lib/vendor

# Directorio de hojas de estilo CSS generadas
public/style/css

# Logs y copias de seguridad
*.log
*~
