<% include layout %>

    <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Aplicación genérica de prueba</h2>
        <h4>(No se me ocurría nada mejor que poner aquí...)</h4>
        <div class="col-xs-12" style="height:10px"></div>
        <img class="img-responsive center-block" src="images/osl.png" alt="imagen_osl" />
        <div class="col-xs-12" style="height:43px"></div>
        <footer><small>Germán Martínez Maldonado<br/>Oficina de Software Libre de la Universidad de Granada<br/>© 2016</small></footer>
    </div>
    </div>
    </div>
    </body>
