<% include layout %>

    <div class="col-md-6 col-md-offset-3 text-center">
        <form>
            <div class="form-group">
                <div class="col-xs-12" style="height:20px"></div>
                <h3>Todas las <img alt="image" src="images/cosa.png" height="50" /><img alt="image" src="images/cosa.png" height="50" /> ordenadas por fecha:</h3>
                <div class="col-xs-12" style="height:20px"></div>
                <select class="form-control" name="cosa" size="10" onChange="alert('hello')">
                  <% cosas.forEach( function ( cosa ){ %>
                    <option><%= cosa.nombre %>: <%= cosa.contenido %> [<%= cosa.fecha %>]</option>
                  <% }); %>
                </select>
            </div>
        </form>

    </div>
    </div>
    </div>
    </body>
